*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 10px white;
    margin: 5rem 0;
}